.container{
  margin-top: 30px;
}
.search-bar {
  margin: 20px;
  text-align: center;
  display: flex;
  cursor: pointer;
}
.svg{
  pointer-events: none;
  display: block;
  width: 35%;
  height: 35%;
}
.svgDiv{
  width: 50%;
  height: 100%;
}
.sbDivInput{
  margin-left: 55px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  cursor: auto;
}

.search-bar input {
  width: 250px;
  padding-left: 10px;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}
