.container{
  margin-top: 30px;
}
.search-bar {
  margin: 20px;
  text-align: center;
  display: flex;
  cursor: pointer;
}
.svg{
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
}
.svgDiv{
  width: 160px;
  height: 41px;
}
.sbDivInput{
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: auto;
}

.search-bar input {
  width: 350px;
  padding-left: 10px;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 100%;
}

.list-group-item {
  cursor: pointer;
  height: 140px;
  width: 328px;
}

.list-group-item:hover {
  background-color: #eee;
}
.details{
  font-family: Roboto, Arial, sans-serif;
  color: #111111;
}
.detailsTitle{
  margin-top: 10px;
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E8E8E8;
}
.detailsImg{
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-right: 15px;
}
.detailsDescription{
  width: 100%;
  display: flex;
  margin-top: 15px;
  font-size: 16px;
  margin-bottom: 10px;
}
.detailsDescriptionText{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.channelTitle{
  color: #0a0a0a;
  font-weight: 600;
}
.publishedAt{
  margin-bottom: 15px;
  color: #B8B8B8;
  font-size: 14px;
  font-weight: 400;

}
.description{

}
